body {
    background-color: aquamarine;
}

header {
    // 寬度 高度 背景顏色
    width: 1200px;
    height: 25px;
    background-color: darkgrey;
}

main {
    // 寬度 高度 背景顏色
    width: 600px;
    height: 450px;
    background-color: forestgreen;
}

footer {
    // 寬度 高度 背景顏色
    width: 100px;
    height: 350px;
    background-color: goldenrod;
}
