@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

/*
You may ont @extecn an outer selector from within @media.
You may only @extend selectors within the same directiv.
無法由 @media (媒體判斷)去呼叫「外部連結檔」
*/
@media screen and (max-width: 576px) {
  header nav {
    /*
        浮動對齊的問題 float
        1:#logo 與#BtnBOX 物件的父框架 nav，無寬度
        2: nav的父框架 header，高度消失(展開)
        解決方式
        1: nav 的父框架 header，給予高度；或是 nav 給予高度
        2:清除浮動狀態，由nav設定
        3:利用圖片高度撐開父框架的高
        */
    width: 100vw;
    background-color: aquamarine;
  }
  header nav #Logo {
    width: 88vw;
  }
  header nav #MenuBtn {
    width: 12vw;
  }
  header nav #Logo {
    float: left;
    background-color: #216568;
  }
  header nav #MenuBtn {
    float: left;
    background-color: yellow;
  }
  header nav .Clear {
    clear: both;
  }
  header .AllBtn {
    display: none;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  header nav {
    /*
        浮動對齊的問題 float
        1:#logo 與#BtnBOX 物件的父框架 nav，無寬度
        2: nav的父框架 header，高度消失(展開)
        解決方式
        1: nav 的父框架 header，給予高度；或是 nav 給予高度
        2:清除浮動狀態，由nav設定
        3:利用圖片高度撐開父框架的高
        */
    width: 100vw;
    background-color: #007c53;
  }
  header nav #Logo {
    width: 88vw;
  }
  header nav #MenuBtn {
    width: 12vw;
  }
  header nav #Logo {
    float: left;
    background-color: #165f00;
  }
  header nav #MenuBtn {
    float: left;
    background-color: greenyellow;
  }
  header nav .Clear {
    clear: both;
  }
  header .AllBtn {
    display: none;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  header nav {
    /*
        浮動對齊的問題 float
        1:#logo 與#BtnBOX 物件的父框架 nav，無寬度
        2: nav的父框架 header，高度消失(展開)
        解決方式
        1: nav 的父框架 header，給予高度；或是 nav 給予高度
        2:清除浮動狀態，由nav設定
        3:利用圖片高度撐開父框架的高
        */
    width: 100vw;
    background-color: #00ec9e;
  }
  header nav #Logo {
    width: 88vw;
  }
  header nav #MenuBtn {
    width: 12vw;
  }
  header nav #Logo {
    float: left;
    background-color: #006b70;
  }
  header nav #MenuBtn {
    float: left;
    background-color: darkblue;
  }
  header nav .Clear {
    clear: both;
  }
  header .AllBtn {
    display: none;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  header {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav {
    background-color: darkgoldenrod;
  }
  header nav #logo {
    width: 70vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav #MenuBtn {
    display: none;
  }
  header #icon {
    width: 30vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
  footer address {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  header {
    width: 100vw;
    background-color: #7d0a28;
  }
  footer address {
    display: block;
  }
}

@media screen and (min-width: 1400px) {
  header {
    width: 100vw;
    background-color: #204570;
  }
  footer address {
    display: block;
  }
}
