@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

/*
You may ont @extecn an outer selector from within @media.
You may only @extend selectors within the same directiv.
無法由 wmedia (媒體判斷)去呼叫「外部連結檔」
*/
@media screen and (max-width: 576px) {
  header {
    background-color: violet;
    width: 100%;
  }
  header nav {
    /*
        浮動對齊的問題 float
        1:#logo 與#BtnBOX 物件的父框架 nav，無寬度
        2: nav的父框架 header，高度消失(展開)
        解決方式
        1: nav 的父框架 header，給予高度；或是 nav 給予高度
        2:清除浮動狀態，由nav設定
        */
  }
  header nav #Logo {
    float: left;
  }
  header nav .News {
    display: none;
  }
  header nav #MenuBtn {
    float: left;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  header {
    width: 100%;
    background-color: aqua;
  }
  header nav .News {
    display: none;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
    background-color: yellow;
  }
  header nav .News {
    display: none;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  header {
    width: 100%;
    background-color: pink;
  }
  header nav .News {
    display: block;
  }
  footer address {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  header {
    width: 100%;
    background-color: #7d0a28;
  }
  header nav .News {
    display: block;
  }
  footer address {
    display: block;
  }
}

@media screen and (min-width: 1400px) {
  header {
    width: 100%;
    background-color: #204570;
  }
  header nav .News {
    display: block;
  }
  footer address {
    display: block;
  }
}
