#Main {
    background-color: rgb(184, 231, 240);

    #Banner {
        width: $w10 * 10;
        // 溢位設定，將超出的可視範圍給隱藏
        overflow: hidden;
        // 定位點：相對定位
        position: relative;

        $ImagePadding: 650px;
        // 父框架的padding 335px - 子框架的padding 250px = 相差值 $Differ
        $Differ: 85px;
        .Btn {
            width: 20px;
            height: 95px;
            // 水平置中
            text-align: center;
            // 垂直置中 高度 = 行距
            line-height: 95px;
            font-size: $Trem * 1.2;
            // 定位點
            position: absolute;
            // 移動階層(圖層概念)
            z-index: 15;
            top: ($ImagePadding/ 2) - (95px / 2);
            @include Rounded(15);
        }
        .LeftBtn {
            left: 2.5vw;
            background-color: rgba(255, 255, 255, 0.25);
        }
        .RightBtn {
            // 方向 右邊為0(物件靠右對)；float浮點對齊，配合 上下左右 方向推動
            right: 2.5vw;
            background-color: rgba(255, 255, 255, 0.25);
        }

        #ImgBox {
            width: $w10 * 10;
            @include DNli;
            // 內間距設定下方間距，當成圖片的高度，單位 % 或 vh
            padding-bottom: $ImagePadding;
            background-color: aliceblue;
            li {
                width: $w10 * 10;
                float: left;
                // 定位點 絕對定位:1.單獨呼叫時，原點(0,0)會位於畫面(可視範圍)的左上角
                // 物件的父框架呼叫 相對定位(position: relative)時，功能設為，重新定位原點至父框架
                position: absolute;
                // 移動圖片位置: 因為不同手機會有不同的中心位置，無法逐一計算，所以要利用背景圖片的方式修改
                // margin-left: -168px;
                font-size: 72px;
                text-align: center;
                // 內間距設定下方間距，當成圖片的高度，單位 % 或 vh （會隨著裝置而變變） 800px * 0.26 = 208px；固定值px
                // 子框架的padding = 父框架的padding - 相差值 $Differ
                // 修正高度 拿掉(相差值 $Differ)
                padding-bottom: $ImagePadding;
            }
            .Item01 {
                @include BPhoto(center, cover, banner, "05.jpg");
            }
            .Item02 {
                // 英文字在數字前，數字被判定為「文字」；數字在英文字或底線(_)前，數字被判定為數字
                // 「0」為開頭，scss會自動刪除
                // 數字要變為文字，需轉換為「字串」，字串用雙引號包覆
                @include BPhoto(center, cover, banner, "04.jpg");
            }
            .Item03 {
                @include BPhoto(center, cover, banner, "03.jpg");
            }
            .Item04 {
                @include BPhoto(center, cover, banner, "02.jpg");
            }
            .Item05 {
                @include BPhoto(center, cover, banner, "01.jpg");
            }
        }
    }

    > #Limited {
        // 計算式
        $TW: $w1p * 7;
        $NW: $w1p * 10 - $TW;

        $TFS: $Trem * 1.7;
        $NFS: $Trem * 1.1;

        // 背景圖1
        background-image: url(../../images/BG/002.jpg);

        h1 {
            // 文字尺寸
            font-size: $Trem * 1.5;
            // 標題置中
            text-align: center;
            // 內間距
            padding: {
                top: 15px;
                bottom: 15px;
            }
        }

        > article {
            // 一行兩欄
            width: $w1p * 8;
            display: flex;
            flex-wrap: wrap;
            > .Commodity {
                // 寬度變數
                $ComW: $w1p * 10 / 4 - 1;
                // 寬度
                width: $ComW;
                // 外間距
                margin: {
                    bottom: 20px;
                    // （（總寬度 100）-（物件的寬度 30.333 * 物件數 3 =91））= 9（剩下的寬度）
                    // 剩下的寬度 / 左右邊自的總數
                    left: ((($w1p * 10) - ($ComW * 4)) / 2) / 4;
                    right: ((($w1p * 10) - ($ComW * 4)) / 2) / 4;
                }
                // 背景顏色
                background-color: white;
                // 陰影 x軸 y軸 模糊 顏色
                box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);

                > #TitleBox {
                    // 寬度
                    width: $w1p * 8;
                    // 彈性佈局
                    display: flex;
                    // 換行
                    flex-wrap: wrap;
                    // 隱藏項目符號
                    list-style-type: none;
                    // 字距
                    letter-spacing: 2px;
                    // 與外框的距離，設定為內間距
                    padding: {
                        top: 15px;
                        bottom: 10px;
                    }

                    > .Title {
                        width: $TW;
                        font-size: $TFS;
                    }
                    > .Number {
                        width: $NW;
                        font-size: $NFS;
                        text-align: right;
                        // 計算Title 與 Number 內間距的差
                        padding: {
                            top: $TFS - $NFS;
                        }
                    }
                    > .Text {
                        width: $w1p * 10;
                        text-align: right;
                    }
                }

                > .Images {
                    // 寬度
                    width: $w1p * 8.5;
                    // 外間距
                    margin: {
                        bottom: 10px;
                    }
                    // 圓角矩形 邊框設定轉角的角度「圓角矩形」
                    border-radius: 15px;
                    // background-color: pink;

                    > a {
                        > img {
                            // 圖片邊框 線段的粗細 線段的樣式（實線） 顏色
                            border: 1.5px solid rgb(68, 7, 7);
                            border-radius: 15px;
                        }
                    }
                }

                .LName {
                    width: $w1p * 9;
                    // 彈性佈局 橫向排版
                    display: flex;
                    // 外間距
                    margin: {
                        bottom: 15px;
                    }
                    // background-color: skyblue;

                    > h3 {
                        width: $TW + 10;
                        // 文字尺寸
                        font-size: $Trem * 1.4;
                    }

                    > li {
                        width: $NW - 10;
                        // 隱藏項目符號
                        list-style-type: none;
                    }
                }

                > .Brief {
                    // 寬度
                    width: $w1p * 8.5;
                    // 文字對齊 左右切齊
                    text-align: justify;
                    // background-color: rgb(9, 218, 218);
                    // 外間距
                    padding: {
                        bottom: 20px;
                    }
                }

                > #PriceBox {
                    // 寬度
                    width: $w1p * 9;
                    // 隱藏項目符號
                    list-style-type: none;
                    // 彈性佈局
                    display: flex;
                    // 內間距 只要是有包一層的 第一個及最後一個物件 只能用內間距推開「外間距無效」
                    padding: {
                        bottom: 10px;
                    }

                    > .OriginaPrice {
                        // 寬度
                        width: $w1p * 3.5;
                        // 文字尺寸
                        font-size: $Trem * 0.9;
                        // 內間距
                        padding: {
                            top: $Trem * 0.3;
                        }

                        > span {
                            padding: {
                                left: 5px;
                                right: 5px;
                            }
                            // 文字顏色
                            color: skyblue;
                        }
                    }
                    > .BargainPrice {
                        // 寬度
                        width: $w1p * 4.5;
                        // 文字尺寸
                        font-size: $Trem * 1.2;

                        > span {
                            // em or rem 的尺寸，基於 根目錄之下的值為基準
                            font-size: $Trem * 1.5;
                            padding: {
                                left: 5px;
                                right: 5px;
                            }
                            // 文字顏色
                            color: brown;
                            // 文字粗細600就很粗了
                            font-weight: 600;
                        }
                    }

                    > .Car {
                        // 寬度
                        width: $w1p * 2;
                    }
                }
            }
        }

        // more
        > .more {
            width: $w1p * 8;
            // 文字對齊 靠右
            text-align: right;
            // 隱藏項目符號
            @include DNli;
            // 文字尺寸
            font-size: $Trem * 1.1;
            // 英文轉換為大寫
            text-transform: uppercase;
            // 字距
            letter-spacing: 2px;

            // 內間距
            padding: {
                bottom: 15px;
            }

            > a {
                // 寬度 高度px 設定內間距 padding:第一個px管上下 第二個px管左右
                padding: 5px 30px;
                // 顯示方式 以「文字方塊」呈現
                display: inline-block;
                background-color: coral;
                // 取消連結底線樣式
                text-decoration: none;
                // 顏色
                color: royalblue;
                // 圓角矩形
                border-radius: 20px;
            }
        }
    }

    > #Share {
        // 計算式
        $TW: $w1p * 7;
        $NW: $w1p * 10 - $TW;

        $TFS: $Trem * 1.7;
        $NFS: $Trem * 1.1;

        // 背景圖1
        background-image: url(../../images/BG/002.png);

        h1 {
            // 文字尺寸
            font-size: $Trem * 1.5;
            // 標題置中
            text-align: center;
            // 內間距
            padding: {
                top: 15px;
                bottom: 15px;
            }
        }

        > article {
            // 一行兩欄
            width: $w1p * 8;
            display: flex;
            flex-wrap: wrap;
            > .Commodity {
                // 寬度變數
                $ComW: $w1p * 10 / 4 - 1;
                // 寬度
                width: $ComW;
                // 外間距
                margin: {
                    bottom: 20px;
                    // （（總寬度 100）-（物件的寬度 30.333 * 物件數 3 =91））= 9（剩下的寬度）
                    // 剩下的寬度 / 左右邊自的總數
                    left: ((($w1p * 10) - ($ComW * 4)) / 2) / 4;
                    right: ((($w1p * 10) - ($ComW * 4)) / 2) / 4;
                }
                // 背景顏色
                background-color: white;
                // 陰影 x軸 y軸 模糊 顏色
                box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);

                > .Null {
                    height: 30px;
                }

                > .Images {
                    // 寬度
                    width: $w1p * 8.5;
                    // 外間距
                    margin: {
                        bottom: 10px;
                    }
                    // 圓角矩形 邊框設定轉角的角度「圓角矩形」
                    border-radius: 15px;
                    // background-color: pink;

                    > a {
                        > img {
                            // 圖片邊框 線段的粗細 線段的樣式（實線） 顏色
                            border: 1.5px solid rgb(68, 7, 7);
                            border-radius: 15px;
                        }
                    }
                }

                .LName {
                    width: $w1p * 9;
                    // 彈性佈局 橫向排版
                    display: flex;
                    // 外間距
                    margin: {
                        bottom: 15px;
                    }
                    // background-color: skyblue;

                    > h3 {
                        width: $TW + 10;
                        // 文字尺寸
                        font-size: $Trem * 1.4;
                    }

                    > li {
                        width: $NW - 10;
                        // 隱藏項目符號
                        list-style-type: none;
                    }
                }

                > .Brief {
                    // 寬度
                    width: $w1p * 8.5;
                    // 文字對齊 左右切齊
                    text-align: justify;
                    // background-color: rgb(9, 218, 218);
                    // 內間距
                    padding: {
                        bottom: 20px;
                    }
                }
            }
        }

        // more
        > .more {
            width: $w1p * 8;
            // 文字對齊 靠右
            text-align: right;
            // 隱藏項目符號
            @include DNli;
            // 文字尺寸
            font-size: $Trem * 1.1;
            // 英文轉換為大寫
            text-transform: uppercase;
            // 字距
            letter-spacing: 2px;

            // 內間距
            padding: {
                bottom: 15px;
            }

            > a {
                // 寬度 高度px 設定內間距 padding:第一個px管上下 第二個px管左右
                padding: 5px 30px;
                // 顯示方式 以「文字方塊」呈現
                display: inline-block;
                background-color: coral;
                // 取消連結底線樣式
                text-decoration: none;
                // 顏色
                color: royalblue;
                // 圓角矩形
                border-radius: 20px;
            }
        }
    }
}
