// 呼叫 html 標籤，例如 :nav 稱作 類型選擇
// 呼叫 id，例如 <li id='test'></li>， id="test", 「#test」
// 呼叫 class， class="test1"，「.」類別選擇器；「.test」
// scss 1.巢狀寫法 2.變數 $yourname(設定計算用的基礎值) 3.繼承 %yourname (css3語法相司，但能通中呈現)

// css3的寫法 隱藏

// header {
//     width: 100%;
// }
// address,
// #Icon,
// #MenuBtn {
//     display: none;
// }

// #Logo {
//     background-color: aliceblue;
// }

header {
    background-color: violet;
    // // 寬度 100%
    width: $w10 * 10;

    nav {
        /*
        浮動對齊的問題 float
        1:#logo 與#BtnBOX 物件的父框架 nav，無寬度
        2: nav的父框架 header，高度消失(展開)
        解決方式
        1: nav 的父框架 header，給予高度；或是 nav 給予高度
        2:清除浮動狀態，由nav設定
        */
        width: $w10 * 10;
        // 設定高度單位為 % （未給予基準值，所以無法計算出實際高度）
        // vh（可視裝置的度，計算出實際高度；依照裝置的高度做出計算）
        height: 10vh;
        background-color: aquamarine;
        // 解決方法二：清除浮動狀態，由nav設定寫在53行

        // 靠左對齊(與 MenuBtn 同一行)
        #Logo {
            width: $w10 * 8;
            float: left;
            background-color: rgb(33, 101, 104);
        }

        // 靠左對齊(與 Logo 同一行)
        #MenuBtn {
            width: $w10 * 2;
            float: left;
        }
        .Clear {
            @include clearFloat;
        }
    }
    .AllBtn {
        // 呼叫 混合函式(寫在共用區)
        @include DN;
    }
}

footer {
    address {
        // 呼叫 混合函式(寫在共用區)
        @include DN;
    }
}
