// 呼叫 html 標籤，例如 :nav 稱作 類型選擇
// 呼叫 id，例如 <li id='test'></li>， id="test", 「#test」
// 呼叫 class， class="test1"，「.」類別選擇器；「.test」
// 後代選擇器，例如： header nav li nav框架中若存在li標籤標，不論是哪一個層級，都會直接受影響
// scss 1.巢狀寫法 2.變數 $yourname(設定計算用的基礎值) 3.繼承 %yourname (css3語法相司，但能通中呈現)

// css3的寫法 隱藏

// header {
//     width: 100%;
// }
// address,
// #Icon,
// #MenuBtn {
//     display: none;
// }

// #Logo {
//     background-color: aliceblue;
// }
header {
    // background-color: violet;
    // // 寬度 100%
    // width: 100%;
    width: $w1p * 10;

    > #MainNav {
        // 寬度
        width: $w1p * 10;
        // 定位點 停佇
        position: fixed;
        // 靠上
        top: 0;
        z-index: 999;
        background-color: rgb(221, 215, 215);
        /*
        浮動對齊的問題 float
        1:#logo 與#BtnBOX 物件的父框架 nav，無寬度
        2: nav的父框架 header，高度消失(展開)
        解決方式
        1: nav 的父框架 header，給予高度；或是 nav 給予高度
        2:清除浮動狀態，由nav設定
        3:利用圖片高度撐開父框架的高
        */
        // width: 100%;
        // width: $w10 * 10;

        // 解決方法二：清除浮動狀態，由nav設定寫在53行

        // 單位不同無法計算，所以改為同一單位vw
        @include LBW(8, 5vw);

        // 靠左對齊(與 MenuBtn 同一行)
        #Logo {
            // 寬度 % or VW(螢幕可視範圍的百分比)

            float: left;
            background-color: rgb(197, 189, 189);
        }

        // 靠左對齊(與 Logo 同一行)
        #MenuBtn {
            height: 60px;
            // 浮點對齊法：靠左對齊 float:left
            float: left;
            background-color: rgb(169, 169, 169);
            // 文字取代圖片，呈現背景圖，而隱藏文字；首行縮排
            text-indent: -9999px;
            @include PhoneMenu(center, contain, icon, "menu.svg");
        }

        #icon,
        form {
            @include DN;
        }
        .BtnBox {
            // 呼叫 混合函式(寫在共用區)
            @include DN;
        }

        // html裡 清除浮動樣式 (用 p class="Clear")
        .Clear {
            @include clearFloat;
        }
    }
    // 行動裝置選單展開「漢寶按鈕☰」
    > #MenuNav {
        // @include DN;
        // 寬度 與 高度（裝置的可視高度）
        width: $w1p * 10;
        height: $w1p * 10;
        // 定位點 絕對定位
        position: absolute;
        // 停佇
        position: fixed;
        // 靠上
        top: 0;
        // 溢位 隱藏捲軸
        overflow: hidden;
        z-index: 9999;
        background-color: white;

        > #Close {
            // 寬度與高度
            width: 40px;
            height: 40px;
            @include DNli;
            // 定位點 絕對定位
            position: absolute;
            // 位移 靠右 要設定 上和右 與頁面間距
            top: 10px;
            right: 10px;
            background-color: rosybrown;
        }
        > h1 {
            // 寬度
            width: $w1p * 10;
            // 高度
            height: 110px;
            text-align: center;
            line-height: 110px;
            background-color: yellowgreen;
        }
        > ul {
            width: $w1p * 9;
            // 定位點 相對定位
            position: relative;
            // 移位 往下移動（設定 top 數值）
            top: 50px;

            // 上邊界 外間距
            margin {
                top: -260px;
            }
            @include DNli;
            // 彈性佈局
            display: flex;
            // 換行
            flex-wrap: wrap;
            background-color: salmon;

            > .item {
                width: $w1p * 9 / 3;
                height: 70px;
                margin: {
                    bottom: 100px;
                }
                // text-align: center;
                background-color: sandybrown;
            }

            // > .itemtwo {
            //     width: $w1p * 10 / 2 - 2;
            //     height: 90px;
            //     margin: {
            //         top: 10px;
            //         bottom: 10px;
            //     }
            //     text-align: center;
            // }

            > .color {
                background-color: slateblue;
            }
        }
    }
}

footer {
    // 物件之間的距離值 vh rem,  rem : 1rem=16px
    // margin-top: 2rem;

    hr {
        // 水平線與下方距離
        margin-bottom: 2rem;
    }

    // 頁尾手機版次導覽置中
    nav {
        // 與下方距離
        margin-bottom: 2rem;
        ul {
            width: 80%;
            // 彈性佈局
            display: flex;
            @include DNli;
            // background-color: rgb(197, 194, 190);
        }
    }

    // 版權宣告置中
    div {
        // 與下方的距離
        margin-bottom: 0.7rem;
        h4 {
            // 文字置中
            text-align: center;
            padding-bottom: 1rem;
        }
    }

    address {
        // 呼叫 混合函式(寫在共用區)
        @include DN;
    }
}
