// 呼叫 html 標籤，例如 :nav 稱作 類型選擇
// 呼叫 id，例如 <li id='test'></li>， id="test", 「#test」
// 呼叫 class， class="test1"，「.」類別選擇器；「.test」
// 後代選擇器，例如： header nav li nav框架中若存在li標籤標，不論是哪一個層級，都會直接受影響
// scss 1.巢狀寫法 2.變數 $yourname(設定計算用的基礎值) 3.繼承 %yourname (css3語法相司，但能通中呈現)

// css3的寫法 隱藏

// header {
//     width: 100%;
// }
// address,
// #Icon,
// #MenuBtn {
//     display: none;
// }

// #Logo {
//     background-color: aliceblue;
// }
header {
    // background-color: violet;
    // // 寬度 100%
    // width: 100%;

    nav {
        /*
        浮動對齊的問題 float
        1:#logo 與#BtnBOX 物件的父框架 nav，無寬度
        2: nav的父框架 header，高度消失(展開)
        解決方式
        1: nav 的父框架 header，給予高度；或是 nav 給予高度
        2:清除浮動狀態，由nav設定
        3:利用圖片高度撐開父框架的高
        */
        // width: 100%;
        // width: $w10 * 10;
        background-color: aquamarine;
        // 解決方法二：清除浮動狀態，由nav設定寫在53行

        // 單位不同無法計算，所以改為同一單位vw
        @include LBW(8, 5vw);

        // 靠左對齊(與 MenuBtn 同一行)
        #Logo {
            // 寬度 % or VW(螢幕可視範圍的百分比)

            float: left;
            background-color: rgb(33, 101, 104);
        }

        // 靠左對齊(與 Logo 同一行)
        #MenuBtn {
            height: 60px;
            // 浮點對齊法：靠左對齊 float:left
            float: left;
            background-color: palevioletred;
            // 文字取代圖片，呈現背景圖，而隱藏文字；首行縮排
            text-indent: -9999px;
            @include PhoneMenu(center, contain, icon, "menu.svg");
        }

        #icon,
        form {
            @include DN;
        }
        .BtnBox {
            // 呼叫 混合函式(寫在共用區)
            @include DN;
        }

        // html裡 清除浮動樣式 (用 p class="Clear")
        .Clear {
            @include clearFloat;
        }
    }
}

footer {
    // 物件之間的距離值 vh rem,  rem : 1rem=16px
    margin-top: 2rem;

    hr {
        // 水平線與下方距離
        margin-bottom: 2rem;
    }

    // 頁尾手機版次導覽置中
    nav {
        // 與下方距離
        margin-bottom: 2rem;
        ul {
            width: 80%;
            // 彈性佈局
            display: flex;
            @include DNli;
            background-color: rgb(197, 194, 190);
        }
    }

    // 版權宣告置中
    div {
        // 與下方的距離
        margin-bottom: 0.7rem;
        h4 {
            // 文字置中
            text-align: center;
        }
    }

    address {
        // 呼叫 混合函式(寫在共用區)
        @include DN;
    }
}
