header {
    background-color: violet;
    // // 寬度 100%
    width: $w10 * 10;

    nav {
        width: $w10 * 10;
        background-color: aquamarine;
        // 靠左對齊(與 MenuBtn 同一行)
        #Logo {
            // 寬度 % or VW(螢幕可視範圍的百分比)
            // width: $w10 * 9;
            @include LBW(8, 5%);
            float: left;
            background-color: rgb(33, 101, 104);
        }

        // 靠左對齊(與 Logo 同一行)
        #MenuBtn {
            width: $w10 * 1;
            float: left;
        }
        .Clear {
            @include clearFloat;
        }
    }
    .AllBtn {
        // 呼叫 混合函式(寫在共用區)
        @include DN;
    }
}

footer {
    address {
        // 呼叫 混合函式(寫在共用區)
        @include DN;
    }
}
