// 呼叫 html 標籤，例如 :nav 稱作 類型選擇
// 呼叫 id，例如 <li id='test'></li>， id="test", 「#test」
// 呼叫 class， class="test1"，「.」類別選擇器；「.test」
// scss 1.巢狀寫法 2.變數 $yourname(設定計算用的基礎值) 3.繼承 %yourname (css3語法相司，但能通中呈現)
header {
    // background-color: rgb(1, 46, 27);
    // // 寬度 100%
    // width: $w10 * 10;

    nav {
        /*
        浮動對齊的問題 float
        1:#logo 與#BtnBOX 物件的父框架 nav，無寬度
        2: nav的父框架 header，高度消失(展開)
        解決方式
        1: nav 的父框架 header，給予高度；或是 nav 給予高度
        2:清除浮動狀態，由nav設定
        3:利用圖片高度撐開父框架的高
        */
        width: $w10 * 10;
        background-color: rgb(0, 124, 83);
        // 解決方法二：清除浮動狀態，由nav設定寫在53行

        // 單位不同無法計算，所以改為同一單位vw
        @include LBW(8, 5vw);

        // 靠左對齊(與 MenuBtn 同一行)
        #Logo {
            // 寬度 % or VW(螢幕可視範圍的百分比)
            // width: $w10 * 8;
            float: left;
            background-color: rgb(22, 95, 0);
        }

        // 靠左對齊(與 Logo 同一行)
        #MenuBtn {
            // width: $w10 * 1;
            float: left;
            background-color: greenyellow;
        }

        // html裡 清除浮動樣式 (用 p class="Clear")
        .Clear {
            @include clearFloat;
        }
    }
    .AllBtn {
        // 呼叫 混合函式(寫在共用區)
        @include DN;
    }
}

footer {
    // 物件之間的距離值 vh rem,  rem : 1rem=16px
    margin-top: 2rem;

    hr {
        margin-bottom: 2rem;
    }

    // 頁尾手機版次導覽置中
    nav {
        margin-bottom: 2rem;
        ul {
            width: 80%;
            // 彈性佈局
            display: flex;
            @include DNli;
            background-color: rgb(197, 194, 190);
        }
    }

    // 版權宣告置中
    div {
        margin-bottom: 0.7rem;
        h4 {
            text-align: center;
        }
    }

    address {
        // 呼叫 混合函式(寫在共用區)
        @include DN;
    }
}
